# **T&T LAB ASSIGNMENT 12**  
**Name: Shidhu Bhadra  
Roll: 1905348  
Date: 23/03/2022**

In [14]:
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df_main = pd.read_csv("cars_sampled.csv",encoding="latin-1")
df = df_main.copy()
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,30/03/2016 13:51,Zu_verkaufen,private,offer,4450,test,limousine,2003,manual,150,3er,150000,3,diesel,bmw,NaN,30/03/2016 0:00,20257,7/4/2016 4:44
1,7/3/2016 9:54,Volvo_XC90_2.4D_Summum,private,offer,13299,control,suv,2005,manual,163,xc_reihe,150000,6,diesel,volvo,no,7/3/2016 0:00,88045,26/03/2016 13:17
2,1/4/2016 0:57,Volkswagen_Touran,private,offer,3200,test,bus,2003,manual,101,touran,150000,11,diesel,volkswagen,NaN,31/03/2016 0:00,27449,1/4/2016 8:40
3,19/03/2016 17:50,Seat_Ibiza_1.4_16V_Reference,private,offer,4500,control,small car,2006,manual,86,ibiza,60000,12,petrol,seat,no,19/03/2016 0:00,34537,7/4/2016 4:44
4,16/03/2016 14:51,Volvo_XC90_D5_Aut._RDesign_R_Design_AWD_GSHD_S...,private,offer,18750,test,suv,2008,automatic,185,xc_reihe,150000,11,diesel,volvo,no,16/03/2016 0:00,55270,1/4/2016 23:18

In [3]:
df.shape

(50001, 19)

In [4]:
df.seller.value_counts()
df.drop(columns="seller", inplace= True)

In [5]:
df.shape

(50001, 18)

In [6]:
df.offerType.value_counts()

offer      49998
request        3
Name: offerType, dtype: int64

In [9]:
df.drop("offerType", axis=1, inplace=True)
df.shape

(50001, 17)

In [10]:
df.abtest.value_counts()

test       25869
control    24132
Name: abtest, dtype: int64

In [12]:
abtest_stats = df.groupby("abtest").agg({"price": ["mean", "var", "count"]})
abtest_stats

               price
                mean           var  count
abtest
control  6311.930424  4.600660e+09  24132
test     6791.152654  9.943525e+09  25869

In [16]:
z_abtest = (abtest_stats[('price', 'mean')][1] - abtest_stats[('price', 'mean')][0])/ np.sqrt((abtest_stats[('price', 'var')][1]/ abtest_stats[('price', 'count')][1]) + (abtest_stats[('price', 'var')][0]/ abtest_stats[('price', 'count')][0]))

print(f"Probability of std-normal : {st.norm.sf(abs(z_abtest))}")

Probability of std-normal : 0.2637047048274638

In [ ]:
df.drop("abtest", axis=1, inplace=True)